<div class="container">
  <div class="container__card">
    <div class="container__card--left">
      <img
        src="../../../assets/shop.svg"
        alt="shop-icon"
        class="animate__animated animate__bounce icon"
      />
      <div class="header">
        <h1>Online Cinema</h1>
        <p>
          Search for movies, look up their scores, see what movies are coming up
          and much more!
        </p>
      </div>
    </div>
    <form class="container__card--right" [formGroup]="loginForm" novalidate>
      <h2 class="title">Discover it by yourself!</h2>
      <span class="form-error" *ngIf="!validUser">Insert a valid username</span>
      <input
        [ngClass]="{
          input: validUser,
          'input--error': !validUser
        }"
        type="email"
        value="{}"
        formControlName="user"
        placeholder="Username"
        autocomplete="off"
      />

      <span class="form-error" *ngIf="!validPassword">
        Insert a valid password
      </span>
      <input
        [ngClass]="{
          input: validPassword,
          'input--error': !validPassword
        }"
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <button (click)="fastSubmit()" type="submit" class="button">
        Fast login (Just 1 click)
      </button>
      <p>Or</p>
      <button (click)="onSubmit()" type="submit" class="button">Login</button>
      <p class="helper-text">
        New user?
        <a class="helper-text" rel="noopener" routerLink="/register">
          <strong>Sign up here</strong>
        </a>
      </p>
    </form>
  </div>
</div>

<app-helper-dialog
  (defaultCredentials)="updateFields($event)"
></app-helper-dialog>
