<div class="container">
  <div class="container__card">
    <div class="container__card__left-side">
      <img
        src="../../../assets/shop.svg"
        alt="shop-icon"
        class="
          animate__animated animate__bounce
          container__card__left-side__icon
        "
      />
      <div class="container__card__left-side__header">
        <h1>Online Cinema</h1>
        <h3>
          A simple app where you can handle the state through Redux (Ngrx).
        </h3>
      </div>
    </div>
    <form class="container__card__rightside" [formGroup]="loginForm" novalidate>
      <h1 class="container__card__rightside__title">Welcome!</h1>

      <span *ngIf="!validUser" class="animate__animated animate__jello"
        >Insert a valid username</span
      >
      <input
        [ngClass]="{
          container__card__rightside__input: validUser,
          'container__card__rightside__input--error animate__animated animate__jello':
            !validUser
        }"
        type="email"
        value="{}"
        formControlName="user"
        placeholder="Username"
        autocomplete="off"
      />

      <span *ngIf="!validPassword" class="animate__animated animate__jello"
        >Insert a valid password</span
      >
      <input
        [ngClass]="{
          container__card__rightside__input: validPassword,
          'container__card__rightside__input--error animate__animated animate__jello':
            !validPassword
        }"
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <button
        (click)="fastSubmit()"
        type="submit"
        class="container__card__rightside__button"
      >
        Fast login (Just 1 click)
      </button>
      <p>Or</p>
      <button
        (click)="onSubmit()"
        type="submit"
        class="container__card__rightside__button"
      >
        Login
      </button>
      <p>Or</p>
      <span class="helper-text">
        New user? <a routerLink="/register"><b>Sign up here</b></a>
      </span>
    </form>
  </div>
</div>

<app-helper-dialog
  (defaultCredentials)="updateFields($event)"
></app-helper-dialog>
