@import "../../../colors.scss";
@import "../../../mixins.scss";

.container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.2),
      rgba(117, 19, 93, 0.8)
    ),
    url("../../../assets/wallpaper-movies.jpg");
  background-size: cover;

  @media only screen and (max-width: 650px) {
    align-items: flex-start;
  }

  &__card {
    width: 50%;
    max-width: 800px;
    display: flex;
    padding: 60px;
    border-radius: 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: $secondary-color;
    -webkit-box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.19);
    box-shadow: 4px 4px 9px 2px rgba(0, 0, 0, 0.19);

    @media only screen and (max-width: 1070px) {
      width: 80%;
      padding: 30px;
    }

    @media only screen and (max-width: 650px) {
      flex-wrap: wrap;
      margin-top: 2rem;
    }

    &--left {
      width: 25rem;
      text-align: center;
      @include vertical-container(false);

      .header {
        font-size: 1rem;
        @include vertical-container(false);
        @media only screen and (max-width: 650px) {
          display: none;
        }
        @media only screen and (max-width: 1000px) {
          font-size: 0.8rem;
        }
        h1 {
          color: #f765d3;
          margin: 20px 0px -10px 0px;
        }
        p {
          font-size: 20px;
          max-width: 60%;
        }
      }
    }

    .icon {
      width: 50%;
      @media only screen and (max-width: 650px) {
        width: 100px;
      }
    }

    &--right {
      width: 23rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      .title {
        font-weight: bold;
        margin-bottom: 30px;
      }

      .input {
        width: 90%;
        padding: 15px;
        font-size: 15px;
        margin-bottom: 15px;
        border-radius: 8px;
        outline: none !important;
        border: 1px solid silver;
        &:focus {
          -webkit-box-shadow: 0px 0px 0px 2px rgba(75, 117, 255, 1);
          -moz-box-shadow: 0px 0px 0px 2px rgba(75, 117, 255, 1);
          box-shadow: 0px 0px 0px 2px rgba(75, 117, 255, 1);
        }
      }

      .input--error {
        width: 90%;
        background: $error;
        color: $white-100;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 8px;
        outline: none !important;
        border: 1px solid $primary-color;
        font-size: 15px;
        @media only screen and (max-width: 650px) {
          width: 90%;
        }
        &:focus {
          border-color: $primary-color;
        }
        &::placeholder {
          color: $white-100;
        }
      }

      .button {
        border: none;
        width: 100%;
        height: 45px;
        font-size: 1rem;
        cursor: pointer;
        color: $white-100;
        border-radius: 10px;
        background-color: $primary-color;
        transition: font-size 100ms ease-out, background-color 200ms ease-out;
        &:hover {
          background-color: $primary-color-hover;
          transition: all 200ms ease-in;
        }
      }
    }
  }
}

.form-error {
  color: $error;
}

.helper-text {
  color: $secondary-color;
}
