<app-navbar [current]="'dashboard'"></app-navbar>
<div
  class="container"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScroll()"
>
  <div class="navbar-space"></div>
  <div class="container-movies">
    <div class="container__header">
      <h2>Look up for some movie</h2>
      <input
        class="container__header--input input-container"
        placeholder="Ej: Fight club"
        [(ngModel)]="currentSearch"
        (ngModelChange)="filterMovies()"
      />
      <p class="container__header--description">
        The list contains all the best movies according to IMDB
      </p>
    </div>
    <div class="container__movies">
      <ng-container *ngIf="currentMovies.length > 0; else noResults">
        <ng-container *ngFor="let item of currentMovies">
          <div class="container__item" (click)="goToDetail(item.id)">
            <img
              class="container__item--img"
              alt="{{ item.title }}"
              src="{{ item.image }}"
            />
            <span class="container__item--year"> {{ item.year }} </span>
            <div class="container__item--body">
              <span class="container__item--title">
                {{ item.title }}
              </span>
              <span class="container__item--description">
                {{ item.imDbRating }} ⭐
              </span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <ng-template #noResults>
    <div class="container__movies--no-results">
      No results for {{ currentSearch }}, please try with another search.
    </div>
  </ng-template>
</div>
