@import "../../../../colors.scss";

.navbar-space {
  display: none;
  @media only screen and (min-width: 600px) {
    display: block;
  }
}
.container {
  color: $tertiary-color;
  background-color: $gray-300;
  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 5% 95%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0rem;
    @media only screen and (min-width: 600px) {
      display: flex;
      align-items: center;
    }
    &__box {
      width: 70%;
      border-radius: 10px;
      padding: 10px 30px 40px 30px;
      background-color: $secondary-color;
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.27);
      -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.27);
    }
    &__title {
      text-align: center;
      @media only screen and (max-width: 600px) {
        font-size: 0.8rem;
      }
    }
    &__img {
      max-height: 80px;
      @media only screen and (max-width: 600px) {
        width: 80px;
      }
    }
    &__input {
      width: 80%;
      outline: none;
      padding: 15px;
      font-size: 1rem;
      border-radius: 8px;
      font-family: "roboto";
      border: 1px solid silver;
    }
  }
  &__movies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 600px) {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    @media only screen and (max-width: 320px) {
      display: grid;
      grid-template-columns: 100%;
    }
    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 20px;
      cursor: pointer;
      max-width: 200px;
      &:hover {
        transform: scale(1.05) !important;
      }
      &__description {
        font-size: 0.8rem;
        margin-bottom: 2px;
      }

      &__img {
        width: 200px;
        border-radius: 7px;
        margin-bottom: 10px;
        box-shadow: 0px 5px 13px 2px rgb(0 0 0 / 30%);
        -webkit-box-shadow: 0px 5px 13px 2px rgb(0 0 0 / 30%);
        @media only screen and (max-width: 600px) {
          width: -webkit-fill-available;
        }
      }
      &__body {
        display: flex;
        text-align: center;
        flex-direction: column;
        &__title {
          font-weight: bold;
          font-size: 1rem;
          margin-bottom: 10px;
        }
      }
    }
    &__no-results {
      margin-top: 20px;
    }
  }
}

.input-container {
  width: 20px;
  padding-left: 40px;
  transition: width 200ms ease-out;
  background-image: url("../../../../assets/search-input.svg");
  background-position: 1rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  width: 50%;
  transition: width 200ms ease-in;
  margin-right: 10px;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container {
  border: none;
  cursor: pointer;
  color: $white-100;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: $tertiary-color;
  &:hover {
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.27);
  }
  @media only screen and (max-width: 600px) {
    margin-top: 10px;
  }
}

.search-button {
  margin-right: 10px;
}
