@import "../../../../colors.scss";

.navbar-space {
  display: none;
  @media only screen and (min-width: 600px) {
    display: block;
  }
}
.container {
  color: $white-100;
  background-color: $black-100;
  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 5rem auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0rem;
    @media only screen and (min-width: 600px) {
      display: flex;
      align-items: center;
    }
    &--box {
      width: 70%;
      border-radius: 10px;
      padding: 10px 30px 40px 30px;
      background-color: $secondary-color;
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.27);
      -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.27);
    }
    &--title {
      text-align: center;
      @media only screen and (max-width: 600px) {
        font-size: 0.8rem;
      }
    }
    &--input {
      width: 80%;
      outline: none;
      padding: 15px;
      font-size: 1rem;
      border-radius: 8px;
      border: 1px solid silver;
    }
  }
  &__movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 20px;
    gap: 20px;
    &--no-results {
      margin-top: 20px;
    }
  }
  &__item {
    cursor: pointer;
    transition: transform 200ms ease-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    @media only screen and (max-width: 600px) {
      margin: 0px 20px;
    }

    &:hover {
      transform: scale(1.01);
      transition: transform 100ms ease-in;
    }
    &--description {
      font-size: 0.8rem;
      color: #fcd53f;
    }
    &--year {
      font-size: 0.8rem;
      margin-bottom: 2px;
      background: #007affa3;
      padding: 5px 10px;
      border-radius: 6px;
      font-weight: bold;
      position: absolute;
      left: 5px;
      top: 5px;
      -webkit-backdrop-filter: blur(1px);
      backdrop-filter: blur(1px);
    }

    &--img {
      width: -webkit-fill-available;
      height: 320px;
      border-radius: 6px;
      margin-bottom: 10px;
      @media only screen and (max-width: 600px) {
        width: -webkit-fill-available;
        height: auto;
      }
    }
    &--body {
      display: flex;
      text-align: center;
      flex-direction: column;
    }
    &--title {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
}

.input-container {
  width: 20px;
  padding-left: 40px;
  transition: width 200ms ease-out;
  background-image: url("../../../../assets/search-input.svg");
  background-position: 1rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  width: 50%;
  transition: width 200ms ease-in;
  margin-right: 10px;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-container {
  border: none;
  cursor: pointer;
  color: $white-100;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: $tertiary-color;
  margin-bottom: 0px;
  &:hover {
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.27);
  }
  @media only screen and (max-width: 600px) {
    margin-top: 10px;
  }
}

.search-button {
  margin-right: 10px;
}
