<app-navbar [current]="'dashboard'"></app-navbar>
<div
  class="container"
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScroll()"
>
  <div class="navbar-space"></div>
  <div class="container-movies">
    <div class="container__header">
      <div class="container__header--box">
        <div class="container__header--title">
          <h2>Movies to watch before die (According IMDB)</h2>
          <p>Press enter to filter movies and click to go for details.</p>
        </div>
        <div class="search-container">
          <input
            class="container__header--input input-container"
            placeholder="Ej: Fight club"
            [(ngModel)]="currentSearch"
            (keyup.enter)="filterMovies()"
          />
          <button
            class="button-container search-button"
            *ngIf="currentSearch !== ''"
            (click)="filterMovies()"
          >
            Search
          </button>
          <button class="button-container" (click)="defaultValues()">
            Clear
          </button>
        </div>
      </div>
    </div>
    <div class="container__movies">
      <ng-container *ngIf="currentMovies.length > 0; else noResults">
        <ng-container *ngFor="let item of currentMovies">
          <div class="container__item" (click)="goToDetail(item.id)">
            <img
              class="container__item--img"
              alt="{{ item.title }}"
              src="{{ item.image }}"
            />
            <span class="container__item--year"> {{ item.year }} </span>
            <div class="container__item--body">
              <span class="container__item--title">
                {{ item.title }}
              </span>
              <span class="container__item--description">
                {{ item.imDbRating }} ⭐
              </span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <ng-template #noResults>
    <div class="container__movies--no-results">
      No results for {{ currentSearch }}, please try with another search.
    </div>
  </ng-template>
</div>
