@import "../../../../colors.scss";
@import "../../../../mixins.scss";

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;

  animation-duration: 500ms;

  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 5rem auto;
  }

  .premiers-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media only screen and (max-width: 600px) {
      justify-content: flex-start;
    }
    &__card {
      width: 80%;
      max-width: 1000px;
      padding: 20px 40px;
      margin: 30px 0px;
      border-radius: 15px;
      background-color: #75135d7d;
      color: $white-100;
      @media only screen and (max-width: 600px) {
        width: 90%;
        box-sizing: border-box;
        padding: 0px 20px 20px;
      }
      &__movies {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        @media only screen and (max-width: 600px) {
          grid-template-columns: 50% 50%;
        }
        @media only screen and (max-width: 350px) {
          grid-template-columns: 100%;
          gap: 20px;
        }
      }
      &__movie {
        padding: 10px;
        cursor: pointer;
        text-align: center;
        @include vertical-container(false);
        justify-content: flex-start;
        transform: scale(1);
        transition: transform 200ms ease;
        &:hover {
          transform: scale(1.05);
          transition: transform 200ms ease;
        }
        .title {
          margin-top: 10px;
          font-weight: bold;
        }
        .description {
          margin-top: 5px;
          font-size: 0.9rem;
        }
      }
      &__image {
        width: 80%;
        border-radius: 8px;
        box-shadow: 0px 5px 13px 2px rgb(0 0 0 / 30%);
        -webkit-box-shadow: 0px 5px 13px 2px rgb(0 0 0 / 30%);

        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
    .bottom-card {
      margin-bottom: 100px !important;
    }
  }
}
