<app-navbar [current]="'premiers'"></app-navbar>
<div class="container">
  <span></span>
  <div class="premiers-container">
    <div class="premiers-container__card">
      <h2>Premiers</h2>
      <div class="premiers-container__card__movies">
        <ng-container *ngFor="let movie of premiers$ | async">
          <div class="premiers-container__card__movie">
            <img
              src="{{ movie.image }}"
              class="premiers-container__card__image"
            />
            <span>{{ movie.title }}</span>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="premiers-container__card bottom-card">
      <h2>Coming soon</h2>
      <div class="premiers-container__card__movies">
        <ng-container *ngFor="let movie of comingSoon$ | async">
          <div class="premiers-container__card__movie">
            <img
              src="{{ movie.image }}"
              class="premiers-container__card__image"
            />
            <span>{{ movie.title }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
