<div class="container">
  <app-navbar [current]="'search'"></app-navbar>
  <div [ngClass]="showingResults ? 'no-height' : ''" class="search-container">
    <div class="search-container__box animate__animated animate__fadeInDown">
      <h2>Movie search</h2>
      <p>Search by expression to find available movies in the IMDB service.</p>
      <div class="search-container__input">
        <input
          class="input-search"
          placeholder="Ej: The lord"
          [(ngModel)]="currentSearch"
          (keyup.enter)="searchMovies()"
        />
        <button
          type="button"
          (click)="searchMovies()"
          class="button-search"
          [disabled]="currentSearch === ''"
        >
          Search
        </button>
        <button
          type="button"
          (click)="clearFilters()"
          class="button-search clear"
          *ngIf="currentSearch !== ''"
        >
          Clear
        </button>
      </div>
    </div>
    <ng-container
      *ngIf="((moviesResults$ | async) || []).length > 0; else noresults"
    >
      <div class="results-container" *ngIf="showingResults">
        <div
          *ngFor="let item of moviesResults$ | async"
          class="results-container__card"
          (click)="goToDetails(item.id)"
        >
          <img
            src="{{ item.image }}"
            alt="{{ item.title }}"
            class="results-container__card__image"
          />
          <span class="results-container__card__label">{{ item.title }}</span>
        </div>
      </div>
    </ng-container>
    <ng-template #noresults>
      <div *ngIf="startFetching" class="results-container">
        <h3 class="no-results">No movies found with your search</h3>
      </div>
    </ng-template>
  </div>
</div>
