<div class="modal-container" *ngIf="showModal">
  <div class="modal-container__modal">
    <div class="header-modal">
      <span [ngSwitch]="alertInfo.type">
        <img
          alt="success, i think"
          *ngSwitchCase="'success'"
          class="modal-image"
          src="../../../assets/success.png"
        />
        <img
          alt="error"
          *ngSwitchCase="'error'"
          class="modal-image"
          src="../../../assets/error.png"
        />
        <img
          alt="error"
          *ngSwitchDefault
          class="modal-image"
          src="../../../assets/error.png"
        />
      </span>
      <span
        *ngIf="alertInfo.title !== ''"
        class="modal-container__modal__title"
        [ngClass]="alertInfo.type === 'success' ? 'success' : 'error'"
        >{{ alertInfo.title }}</span
      >
    </div>
    <div class="modal-container__modal__description">
      <span>{{ alertInfo.message }}</span>
    </div>
    <button
      type="button"
      class="modal-container__button"
      (click)="disableModal()"
    >
      Understood
    </button>
  </div>
</div>
