@import "../../../colors.scss";

.snackbar-container {
  z-index: 20;
  right: 30px;
  bottom: 30px;
  position: fixed;
  font-weight: 500;
  color: $white-100;
  padding: 0px 20px;
  text-align: center;
  border-radius: 10px;
  background-color: $success;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.75);

  animation: fadeInOut 5s linear 1 forwards;

  @media only screen and (max-width: 650px) {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opactiy: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
