<button class="button-container" (click)="showDialogClick()"></button>
<ng-container *ngIf="showDialog">
    <div class="disclaimer">
        <div [ngClass]="getItemClass">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quos maxime optio vel? Consequatur, voluptas vel accusantium sequi magnam tempora. Totam esse, quod enim molestias suscipit eum quas facilis ad.
            </p>
            <button (click)="showDialogClick()">THANKS </button>
        </div>
    </div>
</ng-container>