@import "../../../../colors.scss";
.button-container {
    position: fixed;
    right: 2%;
    bottom: 2%;
    border-radius: 100%;
    padding: 20px;
    border: none;
    cursor: pointer;
    background-image: url("../../../../assets/info.svg");
    &:hover {
        background-color: $background-primary-color;
    }
}

.disclaimer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
    &__dialog {
        width: 500px;
        height: 250px;
        padding: 30px;
        border-radius: 20px;
        background-color: $secondary-color;
        --animate-duration: 0.3s;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.51);
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.51);
        @media only screen and (max-width: 650px) {
            width: 70%;
        }
    }
}