//
// Color Schema
$primary-color: #14213d;
$background-primary-color: #023047;
$secondary-color: #f9c74f;
$tertiary-color: #023e8a;
$error: #f8919a;

// letter colors
$white-100: #ffffff;
$black-100: black;

$blue-300: #3b3fb1;
$blue-250: #383ca5;
