// Color Schema
$primary-color: rgba(117, 19, 93);
$primary-color-hover: #5e0f4b;
$background-primary-color: #023047;
$secondary-color: white;
$tertiary-color: #6930c3;

$error: #f8919a;
$success: #3ba63c;
$success-secondary: #e3fcdd;

// letter colors
$white-100: #ffffff;
$black-100: black;
$gray-300: #f3f3f3;

$blue-300: #3b3fb1;
$blue-250: #383ca5;
