//
// Color Schema
$primary-color: #174c88;
$background-primary-color: #023047;
$secondary-color: #f9c74f;
$tertiary-color: #6930c3;
$error: #f8919a;
$success: #3ba63c;

// letter colors
$white-100: #ffffff;
$black-100: black;
$gray-300: #f3f3f3;

$blue-300: #3b3fb1;
$blue-250: #383ca5;
