<section class="movie-container">
  <article class="container__register-container__header">
    <img
      src="../../../assets/back-button-inside.svg"
      alt="Back"
      (click)="goBack()"
      class="return-action"
      height="27px"
      title="Return"
    />
  </article>
  <article class="movie-container__body">
    <img
      class="movie-container__body--image"
      alt="{{ currentMovie.title }}"
      src="{{ currentMovie.image }}"
    />
    <div class="movie-container__body__description">
      <h1>{{ currentMovie.title }}</h1>
      <p
        class="movie-container__body__description--summary"
        title="{{ currentMovie.plot }}"
      >
        {{ currentMovie.plot }}
      </p>
      <div class="movie-container__body__description--about">
        <div class="about-text">
          <span class="about-texts__labels">
            Year:
            <span class="about-text__content">
              {{ currentMovie.year }}
            </span>
          </span>
          <span class="about-texts__labels">
            Directors:
            <span class="about-text__content">
              {{ currentMovie.directors }}
            </span>
          </span>
          <span class="about-texts__labels">
            Generes:
            <span class="about-text__content">{{ currentMovie.genres }} </span>
          </span>
          <span class="about-texts__labels">
            Imdb Rate:
            <span class="about-text__content">
              {{ currentMovie.imDbRating }}
            </span>
          </span>
        </div>
      </div>
      <div class="movie-container__body__description--awards">
        <h3 class="title-helper">Awards</h3>
        <span class="award-text">{{ currentMovie.awards }}</span>
      </div>
      <div class="description-container">
        <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [pagination]="{ clickable: true, el: '.swiper-pagination' }"
        >
          <ng-container *ngFor="let actor of currentMovie.actorList">
            <ng-template swiperSlide class="actor-container">
              <img
                class="description-container__image"
                alt="{{ actor.name }}"
                src="{{ actor.image }}"
              />
              <span class="character-description">
                {{ actor.name }} as {{ actor.asCharacter }}
              </span>
            </ng-template>
          </ng-container>
        </swiper>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </article>
</section>
