<div class="movie-container">
  <div class="container__register-container__header">
    <img src="../../../assets/back-button-inside.svg" alt="Back" (click)="goBack()" class="back-row" height="27px">
  </div>
  <div class="movie-container__body">
    <img
      class="movie-container__body__image"
      alt="{{ currentMovie.title }}"
      src="{{ currentMovie.image }}"
    />
    <div class="movie-container__body__description">
      <h1 class="movie-container__body__title">{{ currentMovie.title }}</h1>
      <p class="movie-container__body__summary">{{ viewMore ? currentMovie.plot : formatResume(currentMovie.plot) }}</p>
      <div [ngStyle]="{'width': '100%'}">
        <button class="button-container" (click)="changeView()">{{ viewMore ? 'View less' : 'View more'}}</button>
      </div>
      <div class="movie-container__body__about">
        <div class="about-texts">
          <span class="about-texts__labels">Year: <span style="font-weight: 400;">{{ currentMovie.year }} </span></span>
          <span class="about-texts__labels">Directors: <span style="font-weight: 400;">{{ currentMovie.directors }} </span></span>
          <span class="about-texts__labels">Generes: <span style="font-weight: 400;">{{ currentMovie.genres }} </span></span>
          <span class="about-texts__labels">Imdb Rate: <span style="font-weight: 400;">{{ currentMovie.imDbRating }} </span></span>
        </div>
      </div>
      <div class="movie-container__body__awards">
        <h3 class="title-helper">Awards</h3>
        <span class="award-text">{{ currentMovie.awards }}</span>
      </div>
      <div class="description-container">
        <swiper
          [slidesPerView]="3"
          [spaceBetween]="30"
          [pagination]="{ clickable: true, el: '.swiper-pagination' }"
        >
          <ng-container *ngFor="let actor of currentMovie.actorList">
            <ng-template swiperSlide class="actor-container">
              <img
                class="description-container__image"
                alt="{{ actor.name }}"
                src="{{ actor.image }}"
              />
              <span class="text-container"
                >{{ actor.name }} as {{ actor.asCharacter }}</span
              >
            </ng-template>
          </ng-container>
        </swiper>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
