<app-navbar [current]="'user'"></app-navbar>
<div class="container">
  <span></span>
  <div class="users-container animate__animated animate__fadeIn">
    <h1>User information</h1>
    <div class="users-container__card">
      <form [formGroup]="updateForm" novalidate>
        <span>Name</span>
        <input
          class="users-container__card__input"
          type="text"
          formControlName="name"
        />
        <span>Email</span>
        <input
          class="users-container__card__input"
          type="email"
          formControlName="email"
        />
        <span>Password</span>
        <input
          class="users-container__card__input"
          type="password"
          formControlName="password"
        />
        <ng-container *ngIf="password !== ''">
          <span>Repeat new password</span>
          <input
            class="users-container__card__input"
            type="password"
            formControlName="confirmationPassword"
          />
        </ng-container>
        <span class="error-bold" *ngIf="publicUser"
          >You logged in with public access, to edit all information please
          create an account.</span
        >
        <div class="button-containers">
          <button class="users-container__card__button" (click)="updateData()">
            Update information
          </button>
        </div>
        <!-- <p>Sorry, here you can't find more customization :(</p> -->
      </form>
    </div>
  </div>
</div>
