<app-navbar [current]="'user'"></app-navbar>
<div class="container">
  <span></span>
  <div class="users-container animate__animated animate__fadeIn">
    <h1>User information</h1>
    <div class="users-container__card">
      <form [formGroup]="updateForm" novalidate>
        <label for="name">Name</label>
        <input
          id="name"
          class="users-container__card__input"
          type="text"
          formControlName="name"
        />
        <label for="email">Email</label>
        <input
          id="email"
          class="users-container__card__input"
          type="email"
          formControlName="email"
        />
        <label for="password">Password</label>
        <input
          id="password"
          class="users-container__card__input"
          type="password"
          formControlName="password"
        />
        <ng-container *ngIf="password !== ''">
          <label for="password-2">Repeat new password</label>
          <input
            id="password-2"
            class="users-container__card__input"
            type="password"
            formControlName="confirmationPassword"
          />
        </ng-container>
        <span class="error-bold" *ngIf="publicUser"
          >You logged in with public access, to edit all information please
          create an account.</span
        >
        <div class="button-containers">
          <button
            type="button"
            class="users-container__card__button"
            (click)="updateData()"
          >
            Update information
          </button>
        </div>
        <div class="logout-button">
          <a class="logout-button" href="login">Logout</a>
        </div>
        <!-- <p>Sorry, here you can't find more customization :(</p> -->
      </form>
    </div>
  </div>
</div>
