<section class="container">
  <app-navbar [current]="'user'"></app-navbar>
  <article class="users-container animate__animated animate__fadeIn">
    <div class="users-container__card">
      <h3>User information</h3>
      <form [formGroup]="updateForm" novalidate>
        <label for="name">Name</label>
        <input
          id="name"
          class="users-container__card__input"
          type="text"
          formControlName="name"
        />
        <label for="email">Email</label>
        <input
          id="email"
          class="users-container__card__input"
          type="email"
          formControlName="email"
        />
        <label for="password">Password</label>
        <input
          id="password"
          class="users-container__card__input"
          type="password"
          formControlName="password"
        />
        <ng-container *ngIf="password !== ''">
          <label for="password-2">Repeat new password</label>
          <input
            id="password-2"
            class="users-container__card__input"
            type="password"
            formControlName="confirmationPassword"
          />
        </ng-container>
        <p class="error-bold" *ngIf="publicUser">
          You logged in with public access, to edit all information please
          create an account.
        </p>
        <div class="button-containers">
          <button
            type="button"
            class="action__button action__button--primary"
            (click)="updateData()"
          >
            Update information
          </button>
          <button
            type="button"
            class="action__button action__button--secondary"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
        <!-- Sorry, here you can't find more customization :( -->
      </form>
    </div>
  </article>
</section>
